@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito-sans: var(--font-nunito-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
}

@keyframes blink {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
}

.animate-blink {
  animation: blink 2s infinite;
}
